/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
    border-radius: 10px;
}